 <section class="features section overflow-hidden">
      <div class="container">
        <div class="features-inner section-inner has-bottom-divider">
          <div class="features-wrap">
            <div class="feature text-center is-revealing" *ngFor="let feature of features">
              <div class="feature-inner">
                <div class="feature-icon">
                  <img [src]="feature.icon" [alt]="feature.title">
                </div>
                <h4 class="feature-title mt-24">{{ feature.title }}</h4>
                <p class="text-sm mb-0">{{ feature.description }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

       <!-- Hero Section -->
  <!-- Hero Section -->
<div class="hero-container p-15 overflow-hidden">
  <div class="hero-left animate-on-scroll">
    <div class="">
      <div class="container1">
        <button class="button">Introducing Task Tree</button>
      </div>
    </div>
    <h1 class="hero-heading font-semibold font ">
      <span>Organize your tasks with</span> real-time insights
    </h1>
    <p class="hero-description">
      <span>Boost your productivity and stay organized with </span> Task Tree – your all-in-one task management solution.
    </p>
  </div>
  <img src="/images/image 1.png" alt="Task Manager Hero Image" class="hero-img animate-on-scroll" />
</div>