 <section class="features section">
      <div class="container">
        <div class="features-inner section-inner has-bottom-divider">
          <div class="features-wrap">
            <div class="feature text-center is-revealing" *ngFor="let feature of features">
              <div class="feature-inner">
                <div class="feature-icon">
                  <img [src]="feature.icon" [alt]="feature.title">
                </div>
                <h4 class="feature-title mt-24">{{ feature.title }}</h4>
                <p class="text-sm mb-0">{{ feature.description }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>