.features-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-right: -32px;
    margin-left: -32px;
  }
  .feature {
    padding: 16px 32px;
    width: 380px;
    max-width: 380px;
    flex-grow: 1;
  }