<section class="hero overflow-hidden">
  <div class="container">
    <div class="hero-inner">
      <div class="hero-copy">
        <h1 class="hero-title1 mt-0"> Simplify Your Workflow</h1>
        <h1 class="hero-title mt-0" style="color: #0270D7;">Boost Productivity</h1>
        <p class="hero-paragraph">Empower Your Team to Achieve More Together— <span
            style="color:linear-gradient(to left top, #00BFFB, rgba(0, 191, 251, 0));">Streamline, Collaborate,
            Succeed!</span></p>
        <div class="hero-cta flex gap-8">
          <button
            class="relative border hover:border-sky-600 duration-500 group cursor-pointer text-sky-50  overflow-hidden h-11 w-40 rounded-md bg-sky-800 p-2 flex justify-center items-center font-bold">
            <div
              class="absolute z-10 w-48 h-48 rounded-full group-hover:scale-150 transition-all  duration-500 ease-in-out bg-sky-900 delay-150 group-hover:delay-75">
            </div>
            <div
              class="absolute z-10 w-40 h-40 rounded-full group-hover:scale-150 transition-all  duration-500 ease-in-out bg-sky-800 delay-150 group-hover:delay-100">
            </div>
            <div
              class="absolute z-10 w-32 h-32 rounded-full group-hover:scale-150 transition-all  duration-500 ease-in-out bg-sky-700 delay-150 group-hover:delay-150">
            </div>
            <div
              class="absolute z-10 w-24 h-24 rounded-full group-hover:scale-150 transition-all  duration-500 ease-in-out bg-sky-600 delay-150 group-hover:delay-200">
            </div>
            <div
              class="absolute z-10 w-16 h-16 rounded-full group-hover:scale-150 transition-all  duration-500 ease-in-out bg-sky-500 delay-150 group-hover:delay-300">
            </div>
            <p class="z-10">Get Started</p>
          </button>



         
        <a href="#features">  <button
            class="overflow-hidden relative w-44 p-2 h-11 bg-black text-white border-none rounded-md text-base font-bold cursor-pointer relative z-10 group" >
            Explore
            <span
              class="absolute w-36 h-32 -top-8 -left-2 bg-sky-200 rotate-12 transform scale-x-0 group-hover:scale-x-100 transition-transform group-hover:duration-500 duration-1000 origin-right"></span>
            <span
              class="absolute w-36 h-32 -top-8 -left-2 bg-sky-400 rotate-12 transform scale-x-0 group-hover:scale-x-100 transition-transform group-hover:duration-700 duration-700 origin-right"></span>
            <span
              class="absolute w-36 h-32 -top-8 -left-2 bg-sky-600 rotate-12 transform scale-x-0 group-hover:scale-x-100 transition-transform group-hover:duration-1000 duration-500 origin-right"></span>
            <span
              class="group-hover:opacity-100 group-hover:duration-1000 duration-100 opacity-0 absolute top-2.5 left-6 z-10">Explore features!</span>
          </button></a>

        </div>
      </div>
      <div class="hero-figure anime-element">
        <svg class="placeholder" width="528" height="396" viewBox="0 0 528 396">
          <rect width="528" height="396" style="fill:transparent;" />
        </svg>
        <div class="hero-figure-box hero-figure-box-01" data-rotation="45deg"></div>
        <div class="hero-figure-box hero-figure-box-02" data-rotation="-45deg"></div>
        <div class="hero-figure-box hero-figure-box-03" data-rotation="0deg"></div>
        <div class="hero-figure-box hero-figure-box-04" data-rotation="-135deg"></div>
        <div class="hero-figure-box hero-figure-box-05"></div>
        <div class="hero-figure-box hero-figure-box-06"></div>
        <div class="hero-figure-box hero-figure-box-07"></div>
        <div class="hero-figure-box hero-figure-box-08" data-rotation="-22deg"></div>
        <div class="hero-figure-box hero-figure-box-09" data-rotation="-52deg"></div>
        <div class="hero-figure-box hero-figure-box-10" data-rotation="-50deg"></div>
      </div>
    </div>
  </div>
</section>