.hero {
    text-align: center;
    padding-top: 48px;
    padding-bottom: 88px;
  }
  .hero-copy {
    position: relative;
    z-index: 1;
    width: 100%;
    .hero-title{
      font-size: 3rem;

      margin-bottom: 16px;
      width: fit-content;

    }
    .hero-title1{
      font-size: 4rem;

      margin-bottom: 16px;
      width: fit-content;

    }
    .hero-paragraph {
      margin-bottom: 24px;
    }
  }
  .hero-cta {
    margin-bottom: 40px;
  }
  .hero-figure {
    position: relative;
  }
 