<section class="pricing section  overflow-hidden">
    <div class="container-sm">
      <div class="pricing-inner section-inner">
        <div class="pricing-header text-center">
          <h2 class="section-title mt-0">Affordable Plans for Every Team</h2>
          <p class="section-paragraph mb-0">Flexible pricing to suit your team's needs, whether you're just starting out or scaling up.</p>
        </div>
        <div class="pricing-tables-wrap">
          <div class="pricing-table">
            <div class="pricing-table-inner is-revealing">
              <div class="pricing-table-main">
                <div class="pricing-table-header pb-8">
                  <div class="pricing-table-price"><span class="pricing-table-price-currency h2">$</span><span class="pricing-table-price-amount h1">49</span><span class="text-xs">/month</span></div>
                </div>
                <div class="pricing-table-features-title text-xs pt-8 pb-8">What you will get</div>
                <ul class="pricing-table-features list-reset text-xs">
                  <li>
                    <span>Unlimited task creation and management</span>
                  </li>
                  <li>
                    <span>Access to advanced analytics and reporting</span>
                  </li>
                  <li>
                    <span>Priority customer support for premium plans</span>
                  </li>
                  <li>
                    <span>Seamless integrations with popular tools</span>
                  </li>
                </ul>
              </div>
              <div class="pricing-table-cta mb-8">
                <a class="button button-primary button-shadow button-block" href="#">Get Pricing Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>