.pricing-header {
    margin-bottom: 48px;
  }
  .pricing-tables-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: -12px;
    margin-left: -12px;
  }
  /* Add more styles from the _pricing.scss file */